* {
    margin: 0px;
    padding: 0px;
}

.container {
    filter: blur(4px);
}

.container1 {
    margin-top: 50px;
}

.container11 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.container11-hr {
    width: 20%;
    background-color: black;
    height: 2px;
}

.container12 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 50px;
}

.fa-arrow-circle-left {
    color: tomato;
    margin-right: 5px;
}

.container2 {
    height: 350px;
}

.card {
    border: 1px solid tomato;
    width: 22%;
    border-radius: 20px;
    padding: 2%;
    height: 100%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.card-title {
    margin-bottom: 20px;
    font-weight: 100;
    color: tomato;
}

.card-result {
    margin: 30px auto;
    display: inline-block;
    font-size: 30px;
    color: red;
    font-weight: 900;
}

.card-checkbox {
    font-size: 30px;
}

.card-hr {
    background-color: silver;
    height: 2px;
    border: 0px;
}

.addListItem {
    position: absolute;
    background-color: white;
    top: 35%;
    left: 35%;
    width: 30%;
    border: 1px solid tomato;
    height: 30%;
    text-align: center;
}

.addListItem-text {
    margin: 30px auto;
    color: tomato;
}

.addListItem-input {
    margin-bottom: 10px;
    border: 1px solid tomato;
    font-size: 20px;
    height: 10%;
    outline: none;
    width: 50%;
}

.addListItem-btn {
    margin: auto;
    display: block;
    margin-top: 20px;
    border: 1px solid tomato;
    width: 80px;
    height: 40px;
    background-color: tomato;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    outline: none;
}

@media (min-width:320px) and (max-width:480px) {
    .container11-hr {
        display: none;
    }
    .container1 {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        align-items: center;
        margin: 50px auto;
    }
    .container11 {
        font-size: 20px;
    }
    .container2-text {
        display: none;
    }
    .container12 {
        margin: 0px;
    }
    .fa-arrow-circle-left {
        margin-right: 10px;
    }
    .card {
        border: 1px solid tomato;
        width: 70%;
        border-radius: 10px;
        padding: 2%;
        height: 100%;
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    .addListItem {
        top: 25%;
        left: 5%;
        width: 90%;
        height: 35%;
    }
    .addListItem-input {
        height: 20%;
        width: 80%;
    }
    .addListItem-btn {
        margin: auto;
        display: block;
        margin-top: 20px;
        border: 1px solid tomato;
        width: 80px;
        height: 40px;
        background-color: tomato;
        color: white;
        font-size: 25px;
        border-radius: 10px;
        outline: none;
    }
}