* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000;
    color: white;
}

.taskList-header {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    text-align: center;
    margin: 150px auto 10px;
    font-size: 30px;
    letter-spacing: 2px;
}

.greyColor {
    color: silver;
    font-weight: 100;
}

.fa {
    color: tomato;
}

.container2 {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    border: 1px solid tomato;
    width: 200px;
    border-radius: 20px;
    padding: 2%;
    height: 300px;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.addTasks {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.font {
    font-size: 30px;
}

.card-title {
    margin-bottom: 10px;
    font-weight: 100;
    color: tomato;
}

.card-result {
    margin: 20px auto;
    display: inline-block;
    font-size: 22px;
    color: red;
    font-weight: 900;
}

.card-checkbox {
    font-size: 25px;
}

.ContainerBox {
    display: flex;
    justify-content: center;
    align-content: center;
}

.addListItem {
    position: fixed;
    background-color: white;
    top: 30%;
    left: 35%;
    width: 30%;
    border: 1px solid tomato;
    height: 250px;
    text-align: center;
    display: none;
}

.addListItem-text {
    margin: 30px auto;
    color: tomato;
}

.addListItem-input {
    margin-bottom: 10px;
    border: 1px solid tomato;
    font-size: 20px;
    height: 10%;
    outline: none;
    width: 50%;
}

.addListItem-btn {
    margin: auto;
    display: block;
    margin-top: 20px;
    border: 1px solid tomato;
    width: 80px;
    height: 40px;
    background-color: tomato;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    outline: none;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.itemList {
    width: 90%;
    height: 200px;
    overflow-y: scroll;
}

.itemList::-webkit-scrollbar {
    width: 4px;
    background-color: thistle;
}

.itemList::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: white;
}

.item {
    color: yellow;
    font-size: 20px;
    margin-top: 10px;
}

@media (min-width:320px) and (max-width:700px) {
    .taskList-header {
        width: 80%;
        margin: 50px auto 10px;
    }
    .container2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: normal;
        height: 300px;
        align-items: center;
        flex-wrap: nowrap;
    }
    .card {
        background-color: #000;
        border: 2px solid white;
        width: 80%;
        border-radius: 0px;
        height: 50px;
        text-align: left;
        margin-top: 10px;
        box-shadow: 2px 2px 5px;
        font-size: 15px;
        color: thistle;
    }
    .card-title {
        color: thistle;
        padding-top: 10px;
    }
    .make-hide {
        display: none;
    }
    .addList {
        display: none;
    }
    .tasklist-left {
        font-size: 30px;
    }
    .addListItem {
        top: 25%;
        left: 5%;
        width: 90%;
        height: 250px;
    }
    .addListItem-input {
        height: 20%;
        width: 80%;
    }
    .addListItem-btn {
        margin: auto;
        display: block;
        margin-top: 20px;
        border: 1px solid tomato;
        width: 80px;
        height: 40px;
        background-color: tomato;
        color: white;
        font-size: 25px;
        border-radius: 10px;
        outline: none;
    }
}
